{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td> 
                        <a href="/sel_inc/{{ conductor.0 }}" class="btn btn-secondary">Edit</a>
                    </td>
                    <td>nombre</td>
                    <td>apellido</td>
                    <td>edad</td>
                    <td>cantidad_incidencias</td>
                    <td>estatus_conductor</td>
                    <td>placa_camion</td>
                    <td>nombre_central</td>
                </tr>
            </thead>
            <tbody>
                {% for c in conductores %}
                <tr>
                    <td> {{ c.1 }} </td>
                    <td> {{ c.2 }} </td>
                    <td> {{ c.3 }} </td>
                    <td> {{ c.4 }} </td>
                    <td> {{ c.5 }} </td>
                    <td> {{ c.6 }} </td>
                    <td> {{ c.7 }} </td>
                    <td> 
                        <a href="/edit_cond/{{ c.0 }}" class="btn btn-secondary">Edit</a>
                        <a href="/delete_conductor/{{ c.0 }}" class="btn btn-danger btn-delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <form action="/new_conductor">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    <a action="/new_conductor" class="text-light">Agregar conductor</a>
                </button>      
            </div>
            </form>
        </table>
    </div>
</div>

{% endblock %}