{% extends 'layout.html' %} {% block body %}

<div class="row">
  <div class="col">
    <h2>Llenar datos de conductor</h2>
  </div>

  <div class="card card-body">
    <form action="/add_conductor" method="post">
      <div class="form-group">
        <label for="formGroupExampleInput">Nombre</label>
        <input
          name="name"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Nombre del conductor"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Apellido</label>
        <input
          name="lname"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Apellido del conductor"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Edad</label>
        <input
          name="edad"
          type="number"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Edad"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Estado</label>
        <input
          name="estatus"
          type="number"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Estado"
        />
      </div>
      <button type="submit" class="btn btn-primary">
        <a action="/add_conductor" class="text-light">Agregar conductor</a>
      </button>
    </form>
  </div>
</div>

{% endblock %}
